<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="main-menu">
        <ul>
          <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
          <li><a routerLink="/feature" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Feature</a></li>
          <li><a routerLink="/docs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Docs</a></li>
          <li><a routerLink="/resources" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Resources</a></li>
          <li><a routerLink="/blog" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1>Home</h1>
  </div>
</div>
<router-outlet></router-outlet>
